/external/tmp/libconfig-1.4.8/tests/.deps/
/external/tmp/libconfig-1.4.8/tests/.libs/
/external/tmp/libconfig-1.4.8/tinytest/.deps/
/external/tmp/libconfig-1.4.8/examples/c++/.deps/
/external/tmp/libconfig-1.4.8/examples/c++/.libs/
/external/tmp/libconfig-1.4.8/examples/c/.deps/
/external/tmp/libconfig-1.4.8/examples/c/.libs/
/external/tmp/libconfig-1.4.8/lib/.deps/
/external/tmp/libconfig-1.4.8/lib/.libs/
/nbproject/*
/nbproject/private/*
*.o
/bmarks/bank
/bmarks/bankpgas
/bmarks/bankseq
/pgas.changes
/bmarks/mbht
/bmarks/mbll
/run_sim.sh
/bmarks/readonly
/bmarks/mr
*~
/external/tmp/libconfig-1.4.8_scc/tinytest/.deps/
/external/tmp/libconfig-1.4.8_scc/lib/.deps/
/external/tmp/libconfig-1.4.8_scc/lib/.libs/
/external/tmp/libconfig-1.4.8_scc/examples/c/.libs/
/external/tmp/libconfig-1.4.8_scc/examples/c/.deps/
/external/tmp/libconfig-1.4.8_scc/tests/.libs/
/external/tmp/libconfig-1.4.8_scc/tests/.deps/
/external/tmp/libconfig-1.4.8_scc/examples/c++/.deps/
/external/*
*.a
/apps/tm[0-9]
/apps/tm10