*#
*.a
*.d
*.o
*~
/.#runconf
/18446603556606706240
/TODO
/apps/tm10
/apps/tm[0-9]
/bank.cm.r100
/bank.r0.cc
/bank.sm.pgas.r0
/bank.sm.pgas.r100
/bmarks/bank
/bmarks/bank_*
/bmarks/bankpgas
/bmarks/bankseq
/bmarks/mbht
/bmarks/mbht_*
/bmarks/mbhtpgas
/bmarks/mbll
/bmarks/mbll_*
/bmarks/mbllpgas
/bmarks/mp
/bmarks/mr
/bmarks/readonly
/boo
/c.c
/data
/external/*
/external/tmp/libconfig-1.4.8/examples/c++/.deps/
/external/tmp/libconfig-1.4.8/examples/c++/.libs/
/external/tmp/libconfig-1.4.8/examples/c/.deps/
/external/tmp/libconfig-1.4.8/examples/c/.libs/
/external/tmp/libconfig-1.4.8/lib/.deps/
/external/tmp/libconfig-1.4.8/lib/.libs/
/external/tmp/libconfig-1.4.8/tests/.deps/
/external/tmp/libconfig-1.4.8/tests/.libs/
/external/tmp/libconfig-1.4.8/tinytest/.deps/
/external/tmp/libconfig-1.4.8_scc/examples/c++/.deps/
/external/tmp/libconfig-1.4.8_scc/examples/c/.deps/
/external/tmp/libconfig-1.4.8_scc/examples/c/.libs/
/external/tmp/libconfig-1.4.8_scc/lib/.deps/
/external/tmp/libconfig-1.4.8_scc/lib/.libs/
/external/tmp/libconfig-1.4.8_scc/tests/.deps/
/external/tmp/libconfig-1.4.8_scc/tests/.libs/
/external/tmp/libconfig-1.4.8_scc/tinytest/.deps/
/ll.i1024.u0
/mbll.nofair
/nbproject/*
/nbproject/private/*
/oprof
/oprof
/out
/outp
/pgas.changes
/pgas.changes
/profile
/profile
/profile_samples
/prun
/run_sim.sh
/run_sim.sh
/runconf
/runcrash
/rundebug
/runrt
/screenlog.0
cscope.*
cscope.out
out.runrrep
run
runr
runrep
runrep.awk
runrep_
runrep_.awk
runrep_.log
runrepm
runrrep
